:root {
  --page-bg: #fff;
  --dropdown-bg: #fff;
  --card-bg: #f5f5f5;
  --button-bg: #efefef;

  --text-color: #2c3e50;
  --link-color: #2c3e50;
  --active-link-color: #3da777;

  /* non-themed colors */
  --spotify-color: #5cb85c;
  --spotify-color-border: #449d44;
  --spotify-color-ligtened: #6ec06e;
  --spotify-color-border-lightened: #4cae4c;
  --error-color: #e41a1a;
  --button-text-color: rgba(255, 255, 255, 87%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: #121212;
    --dropdown-bg: #121212;
    --card-bg: #303030;
    --button-bg: #3b3b3b;

    --text-color: rgba(255, 255, 255, 87%);
    --link-color: #6a99c9;
    --active-link-color: #42b983;
  }
}
