:root {
  --page-bg: #fff;
  --text-color: #2c3e50;
  --link-color: #2c3e50;
  --active-link-color: #3da777;

  /* non-themed colors */
  --spotify-color: #5cb85c;
  --spotify-color-border: #449d44;
  --spotify-color-ligtened: #6ec06e;
  --spotify-color-border-lightened: #4cae4c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: #121212;
    --text-color: rgba(255, 255, 255, 87%);
    --link-color: #6a99c9;
    --active-link-color: #42b983;
  }
}
